nav {
  .nav-links {
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    &.active {
      border-bottom: 2px solid red;
    }
    &:hover {
      border-bottom: 2px solid red;
    }
  }
}
